.has-sidebar #secondary{
    background: rgba(gray, 0.25);
    padding: 1em;
    section:first-of-type{
        padding-top: 0;
        border-top: none;
    }
    a{
        box-shadow: none;
        &:hover {
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
        }
    }
    .widget ul li {
        border-top: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
    }
}
